@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth;
}
[data-px] {
  font-family: 'Bai Jamjuree', sans-serif;
  picture {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  [data-img] {
    width: 100%;
  }
  [data-button] {
    svg {
      width: 100%;
      height: 100%;
    }
  }
  a {
    text-decoration: none;
  }

  main {
    display: contents;
  }
}
#html [data-sr-only] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
@media (min-width: 960px) {
  #html {
  }
}
