[data-px] {
  position: relative;
  [data-sectioning='1'] {
    display: grid;
    width: 100%;
    grid-template-rows: 77rem auto auto auto;
  }
  [data-sectioning]:not([data-sectioning='1']) {
    display: flex;
    flex-flow: column;
  }

  [data-sectioning='2'] {
    row-gap: 6rem;
  }

  [data-sectioning='3'] {
    row-gap: 3.5rem;
  }

  [data-heading] {
    text-align: center;
  }

  [data-heading='2'] {
    font-size: 6rem;
    letter-spacing: -0.2rem;
    font-weight: 400;
    line-height: 1.12;
    margin: 0;
  }

  [data-heading='3'] {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -1.2px;
  }

  [data-em='gradient'] {
    font-weight: 600;
    background: -webkit-linear-gradient(
      left,
      var(--purple) 30%,
      var(--red) 70%
    );
    background-clip: text;
    color: transparent;
    font-style: normal;
    letter-spacing: -2px;
  }
  [data-content-wrapper] {
    max-width: 1199px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
  }

  [data-content-wrapper='1'],
  [data-content-wrapper='2'] {
    flex-flow: column;

    padding: 7.7rem 3rem;
  }
}

@media (min-width: 960px) {
  #html [data-px] {
    [data-sectioning='1'] {
      grid-template-rows: 60rem auto auto auto;
    }
    [data-content-wrapper='1'] {
      padding: 0;
      padding-top: 5rem;
    }
    [data-sectioning='2'] {
      padding: 19rem 0rem;
    }

    [data-sectioning='3'] {
      align-items: center;
    }

    [data-heading='3'] {
      text-transform: none;
      letter-spacing: -0.8px;
      font-size: 4.5rem;
      line-height: 1.22;
      text-align: center;
    }
    [data-content-wrapper] {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    [data-content-wrapper='1'],
    [data-content-wrapper='2'] {
      flex-flow: column;

      padding: 7.7rem 3rem;
    }
  }
}
