html:has([data-px]) {
  font-size: 1.302083333333333vw;
}
@media (min-width: 960px) {
  html:has([data-px]) {
    font-size: 10px;
  }
}
@media (min-width: 1919px) {
  html:has([data-px]) {
    font-size: 10px;
  }
}
body:has([data-px]) {
  font-size: 16px;
}

[data-px] {
  [data-pc] {
    display: none;
  }
  [data-mo] {
    display: inherit;
  }

  @media (min-width: 960px) {
    [data-pc] {
      display: inherit;
    }
    [data-mo] {
      display: none;
    }
  }
}
