/*color*/
:root {
  --blue: #1c25ff;
  --black: #000000;
  --purple: #8100ff;
  --white: #ffffff;
  --orange: #ffd40c;
  --brown: #bd6f50;
  --green: #0dcf8c;
  --red: #ff411e;
  --gray-light: #dddddd;
  --gray-50: #aaaaaa;
  --gray-30: #777777;
  --gray-20: #585959;
  --gray-10: #3d3f43;
  --gray-15: #242424;
  --gray-13: #1c1e21;
  --dark-gray: #272a2e;
  --brownish-gray: #777;
}
