html:has([data-main-nav][data-open='true']),
body:has([data-main-nav][data-open='true']) {
  height: 100%;
  overflow: hidden;
  /*   [data-pixell-logo] {
    position: absolute;
    z-index: 99999;
  } */
}
[data-header][data-body] {
  height: 12rem;
  width: 100%;
  position: absolute;
  z-index: 9999;

  [data-content-wrapper] {
    width: 100%;
    display: flex;
    align-items: start;

    padding: 3rem 3rem;
    align-items: center;
    column-gap: 6.5rem;
  }
  [data-heading='2'] {
    color: var(--white);
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.015rem;
    text-transform: uppercase;
    text-align: left;
    em[data-pixell] {
      color: transparent;
      background: none;
      // background-image: url('./pixell/img/pixell.webp');
      background-repeat: no-repeat;
      font-size: 5rem;
      letter-spacing: 1.5rem;
      background-size: 35rem;
    }
    em[data-gradient] {
      background: -webkit-linear-gradient(
        left,
        var(--purple) 25rem,
        var(--red) 45rem
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
      letter-spacing: -2px;
    }
  }
  [data-main-nav][data-open='true'] {
    position: absolute;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: white;
    z-index: 9999;
    padding-top: 10rem;
    opacity: 0.9;
    top: 0;
    left: 0;
  }
  [data-nav-wrapper] {
    display: flex;
    align-items: center;
    height: 12rem;
    width: 100%;
    margin: 0 auto;
  }
  [data-button-close] {
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    width: 4.5rem;
    height: 4.5rem;
  }
  [data-main-nav] ul {
    display: flex;
    flex-flow: column;
    border-top: 1px solid var(--gray-10);
    border-bottom: 1px solid var(--gray-10);
    padding: 0 1.7rem;
  }
  [data-main-nav] [data-item] {
    font-size: 2.5rem;
    align-items: center;
    justify-content: start;
    height: 7rem;
    display: flex;
    border-bottom: 1px solid var(--gray-10);
    padding-left: 3rem;
    a {
      color: var(--gray-10);
    }
    color: var(--gray-10);
    &:last-child {
      border-bottom: none;
    }
  }
  [data-menu-button] {
    display: block;
    width: 2.5rem;
    height: 2.7rem;
    overflow: hidden;
    position: relative;
    svg {
      position: absolute;
      top: -1.6rem;
      left: -1rem;
      width: 6rem;
      height: 6rem;
      clip-path: inset(0% 40% 0% 0%);
    }
  }

  [data-nav] {
    display: none;
  }
  [data-pixell-logo] {
    width: 17.5rem;
  }
  [data-button][data-login] {
    font-size: 2.5rem;
    width: 10rem;
    height: 5rem;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }

  [data-button][data-try] {
    height: 6.8rem;
    width: 25rem;
    font-size: 2.5rem;
    margin-left: auto;
  }

  [data-button-group] {
    margin-left: auto;
  }
}

@media (min-width: 960px) {
  #html [data-header] {
    justify-content: center;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
    height: 8rem;

    [data-content-wrapper] {
      display: flex;
      // flex-flow: column;
      align-items: center;
      background-size: 54.5rem;
      background-position-x: 100%;
      background-position-y: 5.3rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    [data-button-close] {
      display: none;
    }
    [data-menu-button] {
      display: none;
    }

    [data-nav-wrapper] {
      padding: 0 6rem;
      button {
        display: none;
      }
      width: 100%;
      align-items: center;
      justify-content: start;
      display: flex;
      column-gap: 6rem;
    }
    [data-nav] {
      display: contents;
      > ul {
        display: contents;

        li {
          border: none;
          color: var(--white);
          font-size: 1.8rem;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
    [data-pixell-logo] {
      position: relative;
      width: 11.4rem;
      top: initial;
      left: initial;
      margin: 0;
      margin-right: 0.4rem;
    }
    [data-button][data-try] {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      width: 22.4rem;
      height: 5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
    [data-button][data-login] {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      font-size: 1.8rem;
      font-weight: 500;
    }
    [data-nav] [data-login] {
      display: none;
    }
    [data-item] {
      padding: 0;
      border: none;
      a {
        color: var(--white);
      }
    }
    button:has([data-button-close]) {
      display: none;
    }
    [data-button-group] {
      display: flex;
      column-gap: 1rem;
      margin-left: auto;
    }
    [data-heading='1'] {
      padding: 0 6rem;
      display: inline;
      max-width: 1919px;
      font-size: 6.7rem;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.06rem;
      bottom: -10rem;
      position: relative;
      em[data-pixell] {
        color: transparent;
        // background-image: url('./pixell/img/pixell.webp');
        background-repeat: no-repeat;
        display: inline-block;
        width: 39.3rem;
        height: 4.9rem;
      }
      & > em[data-gradient] {
        letter-spacing: inherit;
      }
    }
  }
}
