[data-sectioning][data-solution] {
  // row-gap: 7rem;
  background-color: var(--black);
  color: var(--white);

  [data-content-wrapper='2'] {
    display: flex;
    flex-flow: column;
    row-gap: 11rem;
  }
  [data-heading] {
  }
  @media (min-width: 960px) {
    [data-heading='2'] {
      display: none;
      position: absolute;
      max-width: 1919px;
      margin: 0 auto;
      top: 21.5rem;
      left: 36rem;
      font-size: 6.7rem;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.06rem;
      em[data-pixell] {
        color: transparent;
        background-image: url('./img/pixell.webp');
        background-repeat: no-repeat;
        display: inline-block;
        width: 39.3rem;
        height: 4.9rem;
        background-size: inherit;
      }
      & > em[data-gradient] {
        letter-spacing: inherit;
      }
    }
  }
}

[data-sectioning='3'][data-intro] {
  display: flex;
  flex-flow: column;
  row-gap: 2rem;
  font-size: 3.3rem;
  font-weight: 200;
  letter-spacing: -0.4px;
  line-height: 1.3;
  row-gap: 3.5rem;

  [data-heading] {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-bottom: 1.6rem;
    text-align: left;
  }
  & > [data-awards] {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    & > li {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: 2.5rem;
      width: 22rem;
      justify-content: center;
      height: 31rem;
      font-size: 3rem;
      text-align: center;
    }
    [data-img='award3'] {
      width: 14rem;
      height: 9rem;
      margin-right: -2rem;
      margin-bottom: -2.7rem;
      @media (min-width: 960px) {
        width: 10.7rem;
        height: 6.8rem;
      }
    }
    li:has([data-img='award3']) {
      & > p {
        visibility: hidden;
      }
    }

    [data-award-img] {
      width: 8.6rem;
      height: 12rem;
      @media (min-width: 960px) {
        width: 6.4rem;
        height: 8.9rem;
      }
    }
    @media (min-width: 960px) {
      column-gap: 14.6rem;
      & > li {
        width: 6.4rem;
        font-size: 2rem;
        line-height: 1.3;
        white-space: nowrap;
      }
      & > li:nth-child(3) {
        & > img {
          margin: 0;
        }
      }
    }
  }
  @media (min-width: 960px) {
    [data-content-wrapper-p] {
      max-width: 120rem;
      display: inline;
      font-size: 1.8rem;
      & > p {
        display: inline;
      }
    }
  }
}

[data-sectioning][data-desc] {
  display: flex;
  flex-flow: column;
  align-content: center;
  row-gap: 10rem;
  & > [data-heading] {
    font-size: 6rem;
    letter-spacing: -0.2rem;
    font-weight: 400;
    line-height: 1.12;
    text-align: center;
    margin: 0;
    & > em[data-gradient] {
      font-weight: 600;
      background: -webkit-linear-gradient(
        left,
        var(--purple) 8rem,
        var(--brown) 19rem
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-style: normal;
      letter-spacing: -2px;
    }
  }
  [data-list][data-features] {
    display: flex;
    flex-flow: column;
    row-gap: 9.5rem;
    align-self: center;
    [data-title] {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: 0.07rem;
      margin-bottom: -1.5rem;
    }
    [data-item] {
      display: flex;
      flex-flow: column;
      row-gap: 4.1rem;
      align-items: center;
      text-align: center;
      font-size: 3.5rem;
      letter-spacing: -0.13rem;
      line-height: 1.25;
      font-weight: 100;
    }
    [data-item] [data-img] {
      width: 11rem;
    }
    @media (min-width: 960px) {
      flex-flow: row;
      column-gap: 36.3rem;
      align-self: center;

      [data-title] {
        font-size: 1.95rem;
        font-weight: 600;
        line-height: 1.44;
        letter-spacing: 0.01rem;
      }
      [data-item] {
        row-gap: 3rem;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.39;
        letter-spacing: normal;
        width: 7.2rem;
        text-wrap: nowrap;
      }
      [data-item] [data-desc] {
        margin-top: 1rem;
      }
      [data-item] [data-img] {
        width: 7.2rem;
        height: 7.3rem;
        object-fit: contain;
        object-position: bottom;
      }
      [data-item]:nth-child(3) img {
        object-position: center 1.3rem;
      }
    }
  }
}

[data-sectioning][data-solution] {
  [data-img='compare_horse'],
  [data-img='introduction'] {
    border-radius: 2rem;
  }
  @media (min-width: 960px) {
    [data-img='compare_horse'],
    [data-img='introduction'] {
      width: 120rem;
      height: 65rem;
      border-radius: 1.6rem;
    }
  }
}
