[data-button] {
  display: flex;
  border-radius: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  &[data-primary] {
    background-color: var(--purple);
    color: var(--white);
  }
}
