[data-sectioning][data-main] [data-application] [data-content-wrapper] {
  display: flex;
  flex-flow: column;
  align-content: center;
  row-gap: 6rem;
  [data-heading='2'] {
    font-size: 6rem;
    letter-spacing: -0.2rem;
    font-weight: 400;
    line-height: 1.12;
    text-align: center;
    margin: 0;
  }
  [data-heading='3'] {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: -1.2px;
    margin-bottom: 1.6rem;
    border-radius: 3rem;
    border: 2px solid var(--purple);
    align-self: center;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    height: 6rem;
  }
  [data-sectioning='3'][data-sample] {
    display: flex;
    flex-flow: column;
    align-content: center;
    row-gap: 6rem;
  }
  [data-list][data-samples] {
    display: flex;
    flex-flow: column;
    row-gap: 5rem;
    align-items: center;
    [data-item] {
      font-size: 2rem;
      display: flex;
      flex-flow: column;
      row-gap: 3rem;
    }
    [data-title] {
      display: flex;
      column-gap: 1.5rem;
      align-items: center;
    }
    [data-image-card] {
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
    }
    [data-image-compare] {
      display: flex;
      flex-flow: column;
      row-gap: 3rem;
    }
    [data-numbering] {
      display: inline-flex;
      background-color: var(--gray-20);
      color: var(--white);
      border-radius: 10rem;
      padding: 0 2rem;
      justify-content: center;
      align-items: center;
      height: fit-content;
    }
  }
  [data-sectioning='3'][data-production] {
    display: flex;
    flex-flow: column;
    align-content: center;
    row-gap: 6rem;
    [data-img] {
      background-color: white;
      border-radius: 2rem;
    }
    [data-section-root] {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: 2rem;
      font-size: 2rem;
      display: flex;
      flex-flow: column;
      row-gap: 3rem;
    }
    [data-icon='next'] {
      transform: rotate(90deg);
    }
    [data-image-step] {
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      align-items: center;
    }
    [data-picture='result'] {
      width: 100%;
    }
  }
}
@media (min-width: 960px) {
  #html [data-sectioning][data-main] [data-application] [data-content-wrapper] {
    row-gap: 8rem;
    [data-heading='2'] {
      font-size: 4.5rem;
      letter-spacing: normal;
      font-weight: normal;
      line-height: 1.22;
      text-align: center;
      margin: 0;
      & em {
        letter-spacing: normal;
      }
    }
    [data-heading='3'] {
      font-size: 1.95rem;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: normal;
      width: 22rem;
      height: 4.1rem;
      margin-bottom: 0;
    }
    [data-list][data-samples] {
      display: flex;
      flex-flow: column;
      row-gap: 5.03rem;
      align-items: center;
      [data-item] {
        font-size: 2rem;
        display: flex;
        flex-flow: column;
        row-gap: 2.2rem;
        align-items: center;
      }
      [data-title] {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.39;
      }
      [data-image-card] {
        display: flex;
        flex-flow: column;
        row-gap: 1.82rem;
      }
      [data-image-compare] {
        display: flex;
        flex-flow: row;
        column-gap: 2rem;
      }
      [data-numbering] {
        line-height: 1.44;
        width: 6.7rem;
      }
      [data-info] {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.22;
      }
    }
    [data-sectioning='3'][data-sample] {
      row-gap: 4.9rem;
    }
    [data-sectioning='3'][data-production] {
      align-items: center;
      display: flex;
      flex-flow: column;
      align-content: center;
      row-gap: 2.1rem;
      [data-section-root] {
        row-gap: 4.5rem;
        & p {
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.39;
        }
      }

      [data-img='production-img'] {
        width: 120rem;
        border-radius: 2rem;
        margin: 0;
      }
      [data-icon='next'] {
        transform: rotate(0);
      }
      [data-image-step] {
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        [data-img] {
          border-radius: 1rem;
        }
      }
      [data-img='img_before'],
      [data-img='img_after'] {
        width: 44.8rem;
      }
      [data-img='img_res'] {
        width: 22.4rem;
      }
    }
  }
}
