[data-footer] {
  background-image: -webkit-linear-gradient(135deg, var(--purple), var(--red));
}
[data-sectioning][data-contact] {
  height: 60rem;

  [data-content-wrapper] {
    justify-content: start;
    display: flex;
    flex-flow: column;
    row-gap: 5.8rem;
  }

  [data-heading='2'] {
    color: var(--white);
    font-size: 4rem;
    font-weight: 300;
  }

  & em {
    font-style: normal;
    font-weight: 500;
    color: var(--white);
  }
  & form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 1rem;
    font-size: 2rem;
    align-self: center;
  }
  [data-input][data-email] {
    object-fit: contain;
    border-image-source: linear-gradient(
      to top,
      rgba(190, 190, 190, 0.4),
      rgba(238, 238, 238, 0.7),
      #d2d2d2
    );
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, var(--white), var(--white)),
      linear-gradient(
        to top,
        rgba(190, 190, 190, 0.4),
        rgba(238, 238, 238, 0.7),
        #d2d2d2
      );
    background-origin: border-box;
    opacity: 0.5;
    border-radius: 5rem;
    width: 54.5rem;
    height: 5rem;
    padding: 0 1.8rem;
    outline: none;
    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      color: var(--gray-15);
    }
  }
  [data-button][type='submit']:disabled {
    background: var(--gray-50);
    color: var(--gray-20);
    opacity: 0.8;
  }
  [data-input-wrapper] {
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
  }
  [data-success-msg],
  [data-error-msg] {
    padding-left: 4rem;
    color: white;
  }
  [data-button] {
    background: var(--white);
    color: var(--purple);
    width: 15rem;
    border-radius: 3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [data-sectioning='3'][data-info] {
    padding: 0;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto;
    align-content: end;
    row-gap: normal;
    flex: 1;
    [data-value] {
      color: var(--white);
    }

    [data-doc] {
      display: flex;
      flex-flow: column;
    }
    [data-key] {
      display: none;
    }
    [data-value] {
      margin: 0;
    }
    [data-heading] {
      text-align: left;
    }
    [data-heading],
    [data-value] {
      color: var(--white);
      font-size: 1.45rem;
      line-height: 1.3;
    }
  }
  [data-table] {
    display: contents;
    [data-item='4by4'] {
      order: 2;
    }
    [data-item='4by4'] {
      display: flex;
      justify-content: end;
      order: 1;
      grid-column: 2;
      grid-row: 2;
    }
    [data-item='pixell'] {
      grid-column: 1;
      a {
        cursor: pointer;
      }
    }
  }

  [data-doc='pixell'] {
    row-gap: 0.8rem;
    [data-entry='email'] {
      order: 1;
    }
    [data-entry='logo'] {
      order: 2;
      [data-value] {
        width: 13.8rem;
        opacity: 0.7;
      }
    }
  }

  [data-doc='4by4'] {
    row-gap: 1rem;
    [data-entry='logo'] {
      [data-value] {
        width: 11.8rem;
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 960px) {
  #html [data-sectioning][data-contact] {
    height: 71rem;
    padding: 19rem 2.5rem 7.7rem 2.5rem;
    row-gap: 5.8rem;
    [data-heading='2'] {
      color: var(--white);
      font-size: 4.5rem;
      font-weight: normal;
      line-height: 1.22;
      letter-spacing: normal;
    }
    [data-content-wrapper='2'] {
      padding: 0;
    }
    & em {
      font-weight: 600;
      color: var(--white);
      letter-spacing: normal;
    }
    & form {
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 1rem;
      font-size: 2rem;
      align-self: center;
    }
    [data-input][data-email] {
      padding: 0 4.4rem;
      width: 53rem;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 1.39;
      letter-spacing: normal;
      outline: none;
      &:focus-visible {
        outline: none;
      }
      &::placeholder {
        color: var(--gray-15);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
      }
    }
    [data-button] {
      display: flex;
      width: 17.4rem;
      column-gap: 1rem;
      color: var(--purple);
      font-weight: 600;
      & span[data-arrow] {
        font-size: 1.5rem;
      }
    }

    [data-sectioning='3'][data-info] {
      padding: 0;
      height: 15rem;
      font-size: 1.6rem;
      [data-value] {
        color: var(--white);
      }

      [data-doc] {
        display: flex;
        flex-flow: column;
      }
      [data-key] {
        display: none;
      }
      [data-value] {
        margin: 0;
      }
      [data-heading] {
        text-align: left;
      }
      [data-heading],
      [data-value] {
        font-size: 1.8rem;
        line-height: 1.39;
        letter-spacing: normal;
      }
    }
    [data-table] {
      display: contents;
      [data-item='4by4'] {
        order: 2;
      }
      [data-item='4by4'] {
        display: flex;
        justify-content: end;
        order: 1;
        grid-column: 2;
        grid-row: 2;
      }
      [data-item='pixell'] {
        grid-column: 1;
      }
    }

    [data-doc='pixell'] {
      row-gap: 0.8rem;

      [data-entry='email'] {
        order: 1;
      }
      [data-entry='logo'] {
        order: 2;
        [data-value] {
          width: 17.1rem;
          opacity: 0.7;
        }
      }
    }

    [data-doc='4by4'] {
      row-gap: 1rem;
      [data-entry='logo'] {
        [data-value] {
          width: 14.7rem;
          opacity: 0.7;
        }
      }
    }
  }
}
