[data-sectioning][data-main] [data-workflow] {
  background-color: var(--black);
  color: var(--white);
  [data-content-wrapper] {
    display: flex;
    flex-flow: column;
    align-content: center;
    row-gap: 6rem;
  }
  [data-sectioning='3'] {
    display: flex;
    flex-flow: column;
    align-content: center;
    row-gap: 6rem;
    [data-heading] {
      align-self: center;
      width: 25rem;
      border: 3px solid transparent;
      border-radius: 4rem;
      line-height: 1.3;
      background-image: linear-gradient(var(--black), var(--black)),
        -webkit-linear-gradient(left, var(--purple) 30%, var(--red) 70%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      font-size: 3rem;
      & > em {
        font-weight: 400;
      }
    }
  }
  [data-list][data-provide] {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: center;
    [data-item] {
      width: 1fr;
    }
  }
}

@media (min-width: 960px) {
  #html [data-sectioning][data-main] [data-workflow] {
    background-color: var(--black);
    color: var(--white);
    row-gap: 7.9rem;
    [data-content-wrapper] {
      align-items: center;
    }
    [data-heading='2'] {
      font-size: 4.5rem;
      line-height: 1.22;
      font-weight: normal;
      letter-spacing: normal;
    }
    [data-sectioning='3'] {
      row-gap: 5.2rem;
      [data-heading='3'] {
        width: 22rem;
        height: 4rem;
        font-size: 1.95rem;
        font-weight: 500;
        line-height: 1.33;

        & > em {
          font-weight: 400;
          letter-spacing: normal;
        }
      }
      [data-img='workflow'] {
        width: 120rem;
        object-fit: contain;
        object-position: 0.5rem;
      }
    }
    [data-list][data-provide] {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      [data-item] {
        width: 1fr;
      }
    }
  }
}
