[data-px] [data-button='up'] {
  position: fixed;
  width: 7rem;
  height: 7rem;
  z-index: 2;
  color: var(--red);
  bottom: 15rem;
  right: 6rem;
  display: none;
  &.show {
    display: initial;
  }
}

[data-main] [data-sectioning='root'] {
  display: flex;
  flex-flow: column;
  font-size: 6.5rem;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  text-align: left;
  height: 100%;
  position: relative;
  color: var(--white);
  background-color: var(--black);
  [data-content-wrapper='1'] {
    padding-bottom: 0;
    position: relative;
  }
  [data-heading='1'] {
    display: block;
    flex: 1;
    position: relative;
    z-index: 2;
    text-align: left;
  }
  [data-picture='bg'] {
    top: 0;
    left: 0;
    img {
      height: 40rem;
      object-fit: cover;
    }
  }
  [data-picture='graphic'] {
    position: absolute;
    left: 21rem;
    top: -30rem;
    width: 30rem;
  }
  [data-em='pixell'] {
    color: transparent;
    background: none;
    background-image: var(--pixell-bg);
    background-repeat: no-repeat;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    background-size: 34.5rem;
  }
  [data-em='gradient'] {
    background: -webkit-linear-gradient(
      left,
      var(--purple) 25rem,
      var(--red) 45rem
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    letter-spacing: -2px;
  }
  [data-lang-list] {
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: flex;
    column-gap: 1rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      background-color: var(--orange);
      color: var(--gray-15);
      opacity: 0.3;
      border-radius: 5rem;
      width: 5rem;
      height: 5rem;
    }
  }
}

@media (min-width: 960px) {
  #html [data-main] [data-sectioning='root'] {
    [data-content-wrapper='1'] {
      align-items: center;
      flex-flow: row;
    }
    [data-picture='bg'] {
      position: absolute;
      width: 100%;
      img {
        height: 60rem;
      }
    }
    [data-picture='graphic'] {
      top: 0;
      right: 0;
      left: initial;
      margin: 0;
      img {
        width: 54.5rem;
        left: -25rem;
        top: 5rem;
        position: relative;
      }
    }
    [data-heading='1'] {
      font-size: 6.7rem;
      font-weight: 600;
      letter-spacing: 0.06rem;
      line-height: 1.25;
      margin-top: 7rem;
    }

    [data-em='pixell'] {
      background-size: 39.3rem;
      width: 39.3rem;
      display: inline-block;
    }
    [data-lang-list] {
      top: initial;
      right: initial;
      bottom: 3rem;
      left: 3rem;
    }
  }
}
